@charset "utf-8";
/* 
	style.css
	基礎レイアウト、汎用class、各個レイアウト用

============================================================ */
a {}
a:link {}
a:visited {}
a:hover {}
a:active {}

/* clearfix */
.clearfix:after { content: "."; display: block; visibility: hidden; height: 0.1px; font-size: 0.1em; line-height: 0; clear: both; }
/* old ie */
.clearfix { min-height: 1em; }
* html .clearfix { height: 1em; }

/* ------------------------------------------------------------

	共通レイアウト
============================================================ */
html {
}
body {
}

/* ------------------------------------------------------------

	
============================================================ */

/*
	
------------------------------------------------ */